<div class="container">
    <div class="jumbotron">
        <h3>Forget Password</h3>
        <form name="form" [formGroup]="forgetPasswordForm" (ngSubmit)=getOtp() novalidate>
            <div class="form-group">
                <label for="mobileNumber">Mobile No</label>
                <input formControlName="mobileNumber" id="mobileNumber" type="text" class="form-control" name="mobileNumber">
                <div *ngIf="f.mobileNumber.touched && f.mobileNumber.invalid" class="alert alert-danger">
                    <div *ngIf="f.mobileNumber.errors?.required">Mobile Number is required.</div>
                    <div *ngIf="f.mobileNumber.errors?.pattern || f.mobileNumber.errors?.maxlength || f.mobileNumber.errors?.minlength">
                        Phone number must be at least 10 numbers</div>
                </div>
            </div>

            <button class="btn btn-primary" type="submit" [disabled]="f.mobileNumber.invalid">Get OTP</button>
        </form>
        <form #otpForm="ngForm">
            <div class="form-group">
                <label for="otp">Enter OTP</label>
                <input id="otp" type="text" class="form-control" [(ngModel)]="otp" name="enterOtp" #otpModel="ngModel" minlength="6" maxlength="6">
                <div *ngIf="otpModel.invalid && (otpModel.dirty || otpModel.touched)" class="alert alert-danger">
                    <div *ngIf="otpModel.errors?.required">OTP is required</div>
                    <div *ngIf="otpModel.errors?.minlength || otpModel.errors?.maxlength">OTP must be 6 digits</div>
                </div>

            </div>
            <button class="btn btn-info mr-4" type="submit" (click)="verifyOtp()" [disabled]="otpModel.invalid">Verify OTP</button>
            <button class="btn btn-secondary" type="button" (click)=goBack()>Go Back</button>

        </form>

    </div>

</div>